@charset "UTF-8";
body {
  font-family: Merriweather, sans-serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background-color: #DCDCDC;
  
}


h1 {
  font: bold 2.7em Merriweather, sans-serif;
  height: 65px;
}

.before {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 550px;
}

.data {
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 750px;
}      


.wireframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 550px;
}


.userflow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 360px;
  height: 590px;
}


.redesign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 550px;
}